<h1 class="title is-1 has-text-centered">Corps Table</h1>

<div class="content">
    
    <h3 class="title is-3">Search: <input ng-model="searchText"> </h3>
    <!-- https://docs.angularjs.org/api/ng/filter/filter -->
    <br />
    <br /> 
    <p>{{vm.message}}</p>
    <table class="table table-hover" id="searchTextResults">
        <thead>
            <tr>
                <th>Corporation Name</th>
                <th>Corporation Owner</th>                
                <th></th>
            </tr>
        </thead>    
        
        <tr ng-repeat="corps in vm.corporations | filter:searchText">
            <td>{{corps.corp}}</td>                  
            <td>{{corps.owner}}</td>
            <td><a class="button is-primary" ng-href="#/corps/{{corps.id}}">View</a></td>
        </tr>
    </table>
        
</div>
